/* ---------- CHECKOUT FOOTER ---------- */
.checkout-footer-grid-per-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.checkout-section__footer {
    margin-bottom: 12px;
    background-color: white;
}

.checkout-footer-with-payment-section {
    margin-top: 20px;
}

.checkout-footer {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 895px 135px 150px;
    column-gap: 10px;
    border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.checkout-footer__title {
    grid-column-end: 3;
    grid-column-start: 2;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}

.checkout-footer-total-price {
    grid-column-end: 4;
    grid-column-start: 3;
    justify-content: flex-end;
    padding: 0 25px 0 10px;
    height: 50px;
    min-width: 100px;
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 500;
    color: black;
}

.checkout-footer-with-button-order {
    grid-column-end: 4;
    grid-column-start: 1;
    justify-content: flex-end;
    min-height: 95px;
    margin-top: 10px;
    padding: 0 30px;
    border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.checkout-footer-button-order {
    box-sizing: border-box;
    justify-content: center;
    height: 40px;
    width: 210px;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 500;
    background-color: black;
    color: white;
}


.w4p-container {
    width: 100%;
    min-height: 100vh;
}

.w4p-wrapper {
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex: 1 1 0%;
    justify-content: center;
}

.w4p-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 300px;
    height: auto;
    padding: 20px;

    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    box-shadow: 0 -4px 8px -4px rgba(0, 0, 0, 0.25);
}

.w4p__button {
    background-color: black;
    color: white;
    flex: 1;
    width: 100%;
    margin: 0 5px;
    padding: 10px 0;
    border-radius: 2px;
}

.w4p-box__title {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
}

.w4p-box__subtitle {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;

    padding-bottom: 10px;
    margin: 10px;

    font-size: 16px;
    font-weight: 400;
    width: 400px;
    border-bottom: 1px solid black;
}
