.gallery-section {
    position: relative;
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: auto;
    transform: translate(-5px);
}

.image-wrapper {
    aspect-ratio: 1;
    cursor: pointer;
    height: 92px;
    width: 92px;
    padding: 5px;
}

.image-box {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-box:hover {
    outline: 2px solid black;
}

.image-box.active {
    outline: 2px solid black;
}

.gallery__button {
    width: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    background-color: #00000033;
}

.gallery__button--left {
    left: 0;
    top: 25px;
    transform: translate(5px);
}

.gallery__button--right {
    right: 0;
    top: 25px;
    transform: translate(5px);
}