.description__section {
    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 10px;
    margin-top: 15px;
}

.description__title {
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.02);

    font-size: 18px;
    font-weight: 500;
    line-height: 21.6px;
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
}

.description__column {
    display: flex;
}

.description__column-title {
    width: 188px;
    padding-right: 12px;
    margin-bottom: 18px;

    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.description__text {
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-size: 14px;
    line-height: 16.8px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}