.table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-header {
  display: flex;
  width: 100%;
}

.table-header-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.table-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.table-cell {
  display: flex;
  align-items: center;
  flex: 1 1 0;
  min-width: 0;
}

.table-cell--center {
  justify-content: center;
  text-align: center;
}

.table-cell--right {
  justify-content: flex-end;
  text-align: right;
}

.table-header-cell {
  font-weight: 500;
}
