.layout-main {
  background-color: #f5f5f5;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
}

.layout-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.suggest {
  position: relative;
  margin: 0 auto;
}

.suggest__label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-xl);
  padding: 14px 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  line-height: 20px;
  font-weight: 500;
  z-index: 10;
}

.suggest__divider {
  border: 0.5px dotted;
  z-index: 0;
}

/* Header */
