.textFieldContainer {
    position: relative;
    margin-top: 6px;
    margin-bottom: 15px;
    flex: 1 1 0%;
}

.textField {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 2px;
}

.textFieldLabel {
    display: none;
    position: absolute;
    left: 10px;
    top: -6px;
    width: auto;
    height: auto;
    padding: 0 3px;
    font-size: 12px;
    line-height: 14.4px;
    color: rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 255, 255);

}

.textField:focus-within {
    border: 1px solid rgba(0, 0, 0, 0.54);

    .textFieldLabel {
        display: block;
    }
}


.textFieldInput {
    display: block;
    box-sizing: border-box;
    flex: 1 1 0%;
    height: 38px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    line-height: normal;
    color: rgb(34, 34, 34);
}

.textFieldInputError {
    display: block;
    padding: 8px 0 2px 0;
    font: 12px;
    line-height: 14px;
    color: rgb(255, 66, 79);
}

.textFieldInput {
    outline: none;
    border: none;
    box-shadow: none;
}