.quantity-selector__section {
    display: flex;
    align-items: center;

    margin-top: 16px;
    height: 32px;

    font-size: 14px;
    line-height: 16.8px;
    color: rgb(117, 117, 117);
}

.quantity-selector__title {
    display: block;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    margin-inline-end: 10px;
    margin-right: 10px;
    width: 100px;
}

.quantity-selector__button-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid rgb(204, 204, 204);
}

.quantity-selector__button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;
    width: 32px;

    background: rgb(255, 255, 255);
    color: rgb(204, 204, 204);
    /* color: black; */
}

.quantity-selector__button.active{
     color: rgb(0, 0, 0.8);
}

.quantity-selector__input {
    text-align: center;
    height: 32px;
    width: 50px;

    border-left: 1px solid rgba(0, 0, 0, 0.09);
    border-right: 1px solid rgba(0, 0, 0, 0.09);
    color: rgb(117, 117, 117);

    outline-style: none;
    outline: none;
    border-bottom: none;
    border-top: none;
}

.quantity-selector__status {
    display: block;
}

.quantity-no-available__status{
    background-color: black;
}