.skeleton{
  background-image: linear-gradient(90deg, #ccc 0px, rgb(229 229 229 / 90%), 40px, #ccc 80px);
  background-size: 300%;
  background-position: 100% 0;
  border-radius: inherit;
  animation: shimmer 1s infinite;
}
@keyframes shimmer{
  to {
    background-position: -100% 0;
  }
}