.container {
    height: 100%;
    width: 1200px;
    padding-top: 40px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.detail__section--left {
    display: block;
    width: 480px;
    padding: 15px;
}

.detail__section--right {
    display: block;
    width: 720px;
    padding: 20px 35px 0 20px;
}

.selector__section {
    margin-top: 25px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 16.8px;
    padding-bottom: 15px;
    /* height: auto; */

}

.selector__section.error {
    background-color: rgb(255, 245, 245);
}

.error--not-enough-option {
    display: block;
    margin: 15px 0 0 110px;

    font-size: 14px;
    line-height: 16.8px;
    color: rgb(255, 66, 79);
}

.purchase-action__section {
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 16.8px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.add-to-cart__modal {
    z-index: 10;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    font-size: 16px;
    line-height: 16.8px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.5);
    /* color: rgba(0, 191, 165); */
    color: black;
    border-radius: 2px;
}