.basket-item {
    display: block;
    padding: 16px 0;
    font-size: 14px;
    line-height: 16.8px;
}

.div-checkbox {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 12px 0 20px;

    min-width: 58px;
}

.div-checkbox-wrap-input {
    width: 18px;
    height: 18px;

    margin-right: 8px;
    border: 1px solid black;
    border-radius: 2px;
}

.product__info {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    padding: 5px 20px 0 10px;
}

.product__image {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.product__image-skeleton {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.product__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 5px;
}

.product__price {
    margin: 0 10px;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.54);
}

.product-variant-selection {
    display: flex;
    flex-direction: column;
    text-align: start;
    flex-wrap: wrap;
    margin: auto 0;

    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;
    padding: 0;
}

.product-variant-selection--title {
    margin-top: 5px;
}


.quantity-selector__button-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid rgb(204, 204, 204);
}

.quantity-selector__button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;
    width: 32px;

    background: rgb(255, 255, 255);
    color: rgb(117, 117, 117);
}

.quantity-selector__input {
    text-align: center;
    height: 32px;
    width: 50px;

    border-left: 1px solid rgba(0, 0, 0, 0.09);
    border-right: 1px solid rgba(0, 0, 0, 0.09);
    color: rgb(117, 117, 117);

    outline-style: none;
    outline: none;
    border-bottom: none;
    border-top: none;
}

.quantity-selector__status {
    display: block;
}

.quantity-no-available__status {
    background-color: black;
}

.police_text {
    position: absolute;
    bottom: -80%;
    font-size: 14px;
    line-height: 16.8px;
    color: rgb(255, 66, 79);
}