.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: transparent;
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 16.8px;
  width: auto;
  color: rgba(0, 0, 0, 0.8);
}