.basket__table-header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    height: 55px;
    background-color: #fff;
    border: 1px solid transparent;
}

.basket__table-content {
    font-size: 14px;
    line-height: 16.8px;
    margin-bottom: 15px;
    background-color: #fff;
    height: 100%;
}

.table-content__section {
    border: 1px solid;
    margin: 20px 22px;
    border-color: rgb(204, 204, 204);
}

.table-content__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding: 9px 12px;
    background-color: gray;
    color: white;
}

.table-col {
    flex: 1 1 0;
    min-width: 0;
}

.table-col--checkbox {
    flex: 0 0 58px;
}

.table-col--product {
    flex: 5.25;
}

.table-col--unit {
    flex: 2;
}

.table-col--quantity {
    flex: 2;
}

.table-col--total {
    flex: 1.5;
}

.table-col--actions {
    flex: 1.75;
}

.table-col--variant {
    flex: 1.75;
}

.div-checkbox {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 12px 0 20px;

    min-width: 58px;
}

.div-checkbox-wrap-input {
    width: 18px;
    height: 18px;

    margin-right: 8px;
    border: 1px solid black;
    border-radius: 2px;
}

.basket__footer-divider {
    display: block;
    grid-column-end: 4;
    grid-column-start: 1;
    border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.basket__footer {
    box-shadow: 0 -4px 8px -4px rgba(0, 0, 0, 0.25);
    position: sticky;
    bottom: 0;
    padding: 50px;
    font-size: 20px;
    width: 100%;
    display: grid;
    margin-top: 12px;
    padding: 0;
    background-color: #fff;
    grid-template-columns: 685px 325px 190px;
    z-index: 2;
}

.basket__footer-promotion {
    grid-column-end: 4;
    grid-column-start: 2;
    display: flex;
    align-items: center;
    padding: 12px 0;
    line-height: 19.2px;
    font-size: 16px;
}

.basket__footer-promotion-button {
   margin-right: 30px;
   font-size: 14px;
   line-height: 16px;
   color: rgb(0, 85, 170);
}

.basket__footer-total {
    grid-column-end: 4;
    grid-column-start: 1;
    display: flex;
    align-items: center;
    padding: 12px 0;
    line-height: 19.2px;
    font-size: 16px;
}

.basket__footer-total-title {
   margin-left: 20px;
   font-size: 16px;
   line-height: 20px;
}

.basket__footer-total-subtitle {
   margin-left: 5px;
   font-size: 24px;
   line-height: 28px;
}

.basket__footer--selected{
    display: block;
    padding: 1px 6px;
}

.basket__footer--unselected{
    display: block;
    padding: 1px 6px;
    margin: 0 8px;
    text-wrap: nowrap;
}

.basket__footer-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 210px;
    padding: 13px 36px;
    margin: 0 22px 0 15px;
    background-color: black;
    color: white;
}

.basket__footer-button-title {
    font-size: 14px;
    line-height: 14px;
}

.basket__item-divider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    margin: 0 20px 0 50px;
}

/* 

*/
