.shop-page-controller {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.shop-button-no-outline {
  display: flex;
  justify-content: center;
  padding: 0;
  height: 30px;
  width: 40px;
  font-size: 20px;
  margin: 0 15px;
  background-color: transparent;
}

.shop-icon-button {
  width: 40px;
  height: 30px;
  background-color: transparent;
}

.shop-icon-button--left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 15px;
}

.shop-icon-button--right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 15px;
}

.shop-button-solid--darken {
  background-color: black;
  color: white;
}
