#root {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgb(255,255,255);
  /* height: 120px; */
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/*  */
.border{
  border-color: rgb(204, 204, 204);
}

/* input,
input:focus,
input:active,
input:hover,
input:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
} */