@import "tailwindcss";

:root {
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;
  --font-3xl: 2.5rem;


  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;


  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;


  --color-primary: #007bff;
  --color-gray-600: #6b7280;
  --color-danger: #ef4444;
  --color-black: rgba(0, 0, 0, 0.54);


  --icon-sm: 16px;
  --icon-md: 20px;
  --icon-lg: 24px;
  --icon-xl: 32px;
}

* {
  font-family: "Roboto", "Arial", sans-serif;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container-wrapper {
  width: 1200px;
}


.shop-page-controller {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  height: 30px;
  justify-content: center;
  align-items: center;

}

.shop-button-no-outline {
  display: flex;
  justify-content: center;
  padding: 0;
  height: 30px;
  width: 40px;
  font-size: 20px;
  margin: 0 15px;
  background-color: transparent;

}

.shop-icon-button {
  width: 40px;
  height: 30px;
  background-color: transparent;
}

.shop-icon-button--left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 15px;
}

.shop-icon-button--right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 15px;
}

.shop-button-solid--darken {
  background-color: black;
  color: white;
}

.image-collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: auto;
  transform: translate(-5px);
}

.image-collection-button {
  width: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  background-color: #00000033;
  /* background: rgb(177, 176, 176); */
}

.image-collection-button--left {
  left: 0;
  top: 25px;

  transform: translate(5px);
}

.image-collection-button--right {
  right: 0;
  top: 25px;
  transform: translate(5px);
}

.product-detail__name {
  line-height: 36px;
  font-size: 20px;
  overflow-wrap: break-word;
  max-width: 665px;
  font-weight: 500;
  font-family: Arial;
}

.product-detail-current-price {
  font-size: 30px;
  font-weight: 500;
}

.product-detail-old-price {
  margin-left: 10px;
  text-decoration: line-through;
  color: var(--color-gray-600);
}

.product-detail-percent {
  margin-left: 10px;
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 2px 4px;
}

.layout-product-detail {
  background-color: #f5f5f5;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
}

.product-detail-option {
  display: block;
  align-items: center;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  color: rgb(117, 117, 117);
  margin-inline-end: 10px;
  margin-right: 10px;
  width: 100px;
}

.product-detail-option-image {
  position: absolute;
  left: 0;
  transform: translateX(5px);
}

.product-detail-quantity-title {
  width: 100px;
  align-items: center;
}

.shop-button-quantity {
  height: 32px;
  width: 32px;
  background: white;
  color: rgb(117, 117, 117);
}

.shop-button-quantity-input {
  text-align: center;
  height: 32px;
  width: 50px;
  outline-style: none;
  outline: none;
  border-bottom: none;
  border-top: none;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  color: rgb(117, 117, 117);
}

.section-wrapper {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 16.8px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.title-wrapper {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  padding: 14px;
  background-color: rgba(0, 0, 0, 0.02);
  color: rgba(0, 0, 0, 0.87);
}

.shop-button-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 48px;
  width: 180px;
  margin-right: 15px;
  background: rgba(0, 0, 0, 0.09);
  color: black;
  border: 1px solid;
}

.shop-button-buy-now {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 48px;
  width: 180px;
  background: black;
  color: white;
}

.page-product__content {
  display: flex;
}


.header-with-search {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 14px;
  line-height: 16.8px;
  width: 840px;
}

.search-bar {
  width: 840px;
  height: 40px;
  padding: 3px;
  margin-top: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  outline: 1px solid black;
  border-radius: 2px;
  background-color: #fff;
}

.search-bar__main {
  display: flex;
  position: relative;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}

.search-bar-input {
  position: relative;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: start;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0%;
  width: 100%;
}

.search-bar-input:focus-within {
  &.search-bar-input::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: 7px;
    bottom: -4px;
    margin: -3px;
    padding: 3px;
    outline: 2px solid black;
    width: 100%;
    height: auto;
    border-radius: 2px;
    z-index: 1;
  }
}

.search-bar-input input {
  outline: none;
  border: none;
  box-shadow: none;
}

.search-bar__search-button {
  border-radius: 2px;
  height: 34px;
  width: 60px;
  padding: 0 15px;
  /* border: 1px solid black; */
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------- Purchase Button ---------- */

.purchase__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 48px;
  width: 180px;
  margin-right: 15px;
}

.purchase__button-buy-now {
  background: black;
  color: white;
}

.purchase__button-add-to-cart {
  margin-right: 15px;
  background: rgba(0, 0, 0, 0.09);
  color: black;
  border: 1px solid;
}

.card-text {
  width: 100%;
  height: 0.75rem;
  border-radius: 0.25rem;
}

.card-input {
  width: 100%;
  height: 2rem;
}

.card-button {
  width: 100%;
  height: 1.25rem;
}

.card-body {
  width: 75%;
}

.card-footer {
  width: 30%;
}