@import "tailwindcss";

:root {
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-xl: 1.5rem;
  --font-2xl: 2rem;
  --font-3xl: 2.5rem;


  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-8: 32px;
  --space-10: 40px;


  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;


  --color-primary: #007bff;
  --color-gray-600: #6b7280;
  --color-danger: #ef4444;
  --color-black: rgba(0, 0, 0, 0.54);


  --icon-sm: 16px;
  --icon-md: 20px;
  --icon-lg: 24px;
  --icon-xl: 32px;
}

* {
  font-family: "Roboto", "Arial", sans-serif;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*  */
.container {
  padding: 0;
}

.container-wrapper {
  width: 1200px;
}

.box-wrapper {
  min-width: 1200px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16.8px;
}

/*  */
.bootstrap__icon-wrapper {
  font-size: var(--font-xl);
}

.brand-wrapper {
  margin-right: var(--space-6);
  height: 60px;
}

.brand-logo {
  width: 50px;
  height: 50px;
}

.brand-name {
  font-size: var(--font-2xl);
}

.input-search {
  width: 100%;
  height: 40px;
}

.cart-wrapper {
  min-width: 100px;
  height: 60px;
}

.user__avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.layout-main {
  background-color: #f5f5f5;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
}

.layout-section {
  /* background-color: #fff; */
  padding-top: 40px;
  padding-bottom: 40px;
}

.homepage-banner-wrapper {
  padding-top: 30px;
  background-color: #eeeeee;
  height: 360px;
}

.col-xs-2 {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 16.666%;
  padding: 5px;
  line-height: 16.8px;

}

.product-card {
  padding: 5px;
  height: 308px;
}

.product-card__content {
  background-color: #fff;
}

.suggest {
  position: relative;
  margin: 0 auto;
}

.suggest__label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--font-xl);
  padding: 14px 16px;
  background-color: black;
  color: white;
  border-radius: 8px;
  line-height: 20px;
  font-weight: 500;
  z-index: 10;
}

.suggest__divider {
  border: 0.5px dotted;
  z-index: 0;
}

.product-card__image {
  height: 190px;
}

.product-card__discount {
  border-bottom-left-radius: 6px;
  font-size: 10px;
  text-align: end;
}

.product-card__discount-content {
  padding: 2px 4px;
}

.line-clamp-2 {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-content_title {
  height: 40px;
  font-size: 14px;
  padding-bottom: 4px;
}

.shop-page-controller {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  height: 30px;
  justify-content: center;
  align-items: center;

}

.shop-button-no-outline {
  display: flex;
  justify-content: center;
  padding: 0;
  height: 30px;
  width: 40px;
  font-size: 20px;
  margin: 0 15px;
  background-color: transparent;

}

.shop-icon-button {
  width: 40px;
  height: 30px;
  background-color: transparent;
}

.shop-icon-button--left {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 15px;
}

.shop-icon-button--right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-left: 15px;
}

.shop-button-solid--darken {
  background-color: black;
  color: white;
}

.image-collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: auto;
  transform: translate(-5px);
}

.image-collection-button {
  width: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  background-color: #00000033;
  /* background: rgb(177, 176, 176); */
}

.image-collection-button--left {
  left: 0;
  top: 25px;

  transform: translate(5px);
}

.image-collection-button--right {
  right: 0;
  top: 25px;
  transform: translate(5px);
}

.product-detail__name {
  line-height: 36px;
  font-size: 20px;
  overflow-wrap: break-word;
  max-width: 665px;
  font-weight: 500;
  font-family: Arial;
}

.product-detail-current-price {
  font-size: 30px;
  font-weight: 500;
}

.product-detail-old-price {
  margin-left: 10px;
  text-decoration: line-through;
  color: var(--color-gray-600);
}

.product-detail-percent {
  margin-left: 10px;
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 2px 4px;
}

.layout-product-detail {
  background-color: #f5f5f5;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
}

.product-detail-option {
  display: block;
  align-items: center;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  color: rgb(117, 117, 117);
  margin-inline-end: 10px;
  margin-right: 10px;
  width: 100px;
}

.product-detail-option-image {
  position: absolute;
  left: 0;
  transform: translateX(5px);
}

.product-detail-quantity-title {
  width: 100px;
  align-items: center;
}

.shop-button-quantity {
  height: 32px;
  width: 32px;
  background: white;
  color: rgb(117, 117, 117);
}

.shop-button-quantity-input {
  text-align: center;
  height: 32px;
  width: 50px;
  outline-style: none;
  outline: none;
  border-bottom: none;
  border-top: none;
  border-left: 1px solid rgba(0, 0, 0, 0.09);
  border-right: 1px solid rgba(0, 0, 0, 0.09);
  color: rgb(117, 117, 117);
}

.section-wrapper {
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 16.8px;
  margin-bottom: 30px;
  margin-top: 15px;
}

.title-wrapper {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  padding: 14px;
  background-color: rgba(0, 0, 0, 0.02);
  color: rgba(0, 0, 0, 0.87);
}

.shop-button-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 48px;
  width: 180px;
  margin-right: 15px;
  background: rgba(0, 0, 0, 0.09);
  color: black;
  border: 1px solid;
}

.shop-button-buy-now {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 48px;
  width: 180px;
  background: black;
  color: white;
}

.page-product__content {
  display: flex;
}

.product-detail {
  padding: 10px;
  margin-top: 15px;
}

.page-product__detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.product-detail-info {
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-size: 14px;
  line-height: 16.8px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.image-item.active {
  /* border: 2px solid black; */
  outline: 2px solid black;
}

/* ... */
.product-detail-container {
  /* background-color: #f5f5f5; */
  height: 100%;
  width: 1200px;
  padding-top: 40px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.overview-left {
  display: block;
  width: 480px;
  padding: 15px;
}

.overview-right {
  display: block;
  width: 720px;
  padding: 20px 35px 0 20px;
}

.product-detail-option-section {
  margin-top: 25px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 16.8px;
  padding-bottom: 15px;
  /* height: auto; */
}

.product-option-section-overflow {
  max-height: 192px;
  overflow-y: scroll;
}

.text-field-group {
  outline: 1px solid rgb(222, 226, 230);
}

.text-field-group:focus-within {
  outline: 1px solid black;
}

.text-field-group input {
  outline: none;
  border: none;
  box-shadow: none;
}

.header-with-search {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 14px;
  line-height: 16.8px;
  width: 840px;
}

.search-bar {
  width: 840px;
  height: 40px;
  padding: 3px;
  margin-top: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  outline: 1px solid black;
  border-radius: 2px;
  background-color: #fff;
}

.search-bar__main {
  display: flex;
  position: relative;
  flex-basis: 0%;
  flex-grow: 1;
  flex-shrink: 1;
}

.search-bar-input {
  position: relative;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: start;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0%;
  width: 100%;
}

.search-bar-input:focus-within {
  &.search-bar-input::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: 7px;
    bottom: -4px;
    margin: -3px;
    padding: 3px;
    outline: 2px solid black;
    width: 100%;
    height: auto;
    border-radius: 2px;
    z-index: 1;
  }
}



.search-bar-input input {
  outline: none;
  border: none;
  box-shadow: none;
}


.search-bar__search-button {
  border-radius: 2px;
  height: 34px;
  width: 60px;
  padding: 0 15px;
  /* border: 1px solid black; */
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-btn-group {
  margin: 10px 0;
}

.cart-header-wrapper {
  height: 100px;
  min-width: 1200px;
  display: flex;
  align-items: center;
  /* margin: 0 auto; */
  border-bottom: 1px solid white;
  font-size: 14px;
  line-height: 16.8px;
}

.cart-header-container {
  display: block;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 20px;
  text-align: start;
}

.cart-header {
  position: relative;
  top: -3px;
}

.cart-logo {
  display: flex;
  align-items: end;
}

.cart-logo__page-name {
  display: block;
  height: 30px;
  font-size: 20px;
  line-height: 30px;
  margin-left: 15px;
  padding-left: 15px;
  margin-bottom: 1px;
  border-left: 1px solid;
}

.product-list-section {
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 16px;
  height: 55px;
  background-color: #fff;
  border: 1px solid transparent;
}

.col {
  flex: 1 1 0;
  min-width: 0;
}

.col-checkbox {
  flex: 0 0 58px;
}

.col-product {
  flex: 5.25;
}

.col-unit {
  flex: 2;
}

.col-qty {
  flex: 2;
}

.col-total {
  flex: 1.5;
}

.col-actions {
  flex: 1.75;
}

.col-product2 {
  flex: 3.5;
}

.col-variant {
  flex: 1.75;
}

.product-list-item-section {
  font-size: 14px;
  line-height: 16.8px;
  margin-bottom: 15px;
  background-color: #fff;
  height: 100%;
}

.product-item__container {
  display: block;
  padding: 16px 0;
  font-size: 14px;
  line-height: 16.8px;
}

.cart-footer {
  box-shadow: 0 -4px 8px -4px rgba(0, 0, 0, 0.25);
  position: sticky;
  bottom: 0;
  padding: 50px;
  font-size: 20px;
  width: 100%;
  display: grid;
  margin-top: 12px;
  padding: 0;
  background-color: #fff;
  grid-template-columns: 685px 325px 190px;
  z-index: 2;
}

.cart-footer__promotion {
  grid-column-end: 4;
  grid-column-start: 2;
  display: flex;
  align-items: center;
  padding: 12px 0;
  line-height: 19.2px;
  font-size: 16px;
}

.cart-footer__total {
  grid-column-end: 4;
  grid-column-start: 1;
  display: flex;
  align-items: center;
  padding: 12px 0;
  line-height: 19.2px;
  font-size: 16px;
}

.cart-footer__separate {
  display: block;
  grid-column-end: 4;
  grid-column-start: 1;
  border-top: 1px dashed rgba(0, 0, 0, 0.09);
}


























/* ---------- Payment method ---------- */

.checkout-payment-method-main {
  display: block;
  font-size: 14px;
  line-height: 16.8px;
  color: rgba(0, 0, 0, 0.8);
}

.checkout-payment-method-view__current {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-height: 90px;
  padding: 10px 30px 20px 30px;
}

.checkout-payment-method-view__current-title {
  display: block;
  flex: 0 0 200px;
  width: 200px;
  font-size: 18px;
  line-height: 21.6px;
  color: rgb(34, 34, 34);
}

.checkout-payment-setting__payment-methods-tabs {
  display: flex;
}

.product-variation {
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px 8px 0 0;
  padding: 4px 12px;
  min-width: 80px;
  min-height: 34px;
  height: 40px;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 500;
  /* border: 1px solid rgba(0, 0, 0, 0.09); */
}

/* ---------- Modal ---------- */

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background: rgb(255, 255, 255);
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 16.8px;
  width: auto;
  color: rgba(0, 0, 0, 0.8);
}

/* ---------- Text field ---------- */

.text-field {
  outline: 1px solid rgb(222, 226, 230);
}

.text-field:focus-within {
  outline: 1px solid black;
}

.text-field input {
  outline: none;
  border: none;
  box-shadow: none;
}

.text-field__input {
  height: 40px;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  font-weight: 400;
}

.text-field__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 15px 0 12px;
}

.text-field__error {
  padding-top: 4px;
  height: 16px;
  width: 100%;
  font-size: 12px;
  color: rgb(255, 66, 79);
}

.form__button-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  height: 40px;
  width: 100%;
}

/* ---------- Purchase Button ---------- */

.purchase__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 48px;
  width: 180px;
  margin-right: 15px;
}

.purchase__button-buy-now {
  background: black;
  color: white;
}

.purchase__button-add-to-cart {
  margin-right: 15px;
  background: rgba(0, 0, 0, 0.09);
  color: black;
  border: 1px solid;
}

/* ---------- Checkbox ---------- */

.option-box-container {
  display: flex;
  align-items: center;
  background-color: white;
  position: relative;
  /* border: 1px solid rgb(222, 226, 230); */
}

.option-box-container:hover {
  border: 1px solid black;
}

.selection-box-selected {
  border: 1px solid black;
}

.selection-box-unselected {
  border: 1px solid rgb(222, 226, 230);
}

.selection-box-tick {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 15px;
  height: 15px;
  background-color: black;
  text-align: left;
  line-height: 16.8px;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: hidden;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.selection-box-tick::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0;
  bottom: 1px;
  background-image: url("/src/assets/images/tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------- Selection ---------- */
.selection__box {
  display: flex;
  align-items: center;
  background-color: white;
  position: relative;
}

.selection__box:hover {
  border: 1px solid black;
}

.selection__box--selected {
  border: 1px solid black;
}

.selection__box--unselected {
  border: 1px solid rgb(222, 226, 230);
}

.selection__box-icon {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 15px;
  height: 15px;
  background-color: black;
  text-align: left;
  line-height: 16.8px;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: hidden;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.selection__box-icon::before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  right: 0;
  bottom: 1px;
  background-image: url("/src/assets/images/tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------- Flexbox ---------- */
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  align-items: center;
}

.flex-col-center {
  display: flex;
  justify-content: center;
}

/* ---------- Behavior action ---------- */


/* wave */
.dot-wave {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 9999px;
  animation: wave 0.4s ease-in-out infinite;
}

.step-1 {
  animation-delay: 0s;
}

.step-2 {
  animation-delay: 0.15s;
}

.step-3 {
  animation-delay: 0.3s;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-4px);
  }
}

/* Skeleton */

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 0.75rem;
  /* margin-bottom: 0.5rem; */
  border-radius: 0.25rem;
}

.skeleton-input {
  width: 100%;
  height: 2rem;
}

.skeleton-button {
  width: 100%;
  height: 1.25rem;
}

.skeleton-text__body {
  width: 75%;
}

.skeleton-footer {
  width: 30%;
}