.option-container {
    margin-top: 25px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 16.8px;
    padding-bottom: 15px;
    /* height: auto; */
    display: flex;
    flex-direction: column;
}

.option-section {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px;
}

.option__title {
    display: block;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    margin-inline-end: 10px;
    margin-right: 10px;
    width: 100px;
}

.option-area {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.option-area-view {
    max-height: 192px;
    overflow-y: scroll;
}

.option__button-container {
    display: block;
    overflow-y: hidden;
}

.option-value-with-image {
    padding: 8px 8px 8px 40px;
}

.option-value-no-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 80px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
}

.option-value__button {
    margin: 8px 8px 0 0;
    height: 40px;
}

.option-value__image {
    position: absolute;
    left: 0;
    transform: translateX(5px);
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    cursor: pointer;
}

.option-value__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.option-value__title {
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
}