.checkout-section {
    padding: 16px 0 10px 0;
    height: 90px;
    margin: 0 auto;
    width: 1200px;
}

/* ---------- CHECKOUT HEADER ---------- */

.checkout-section__header {
    display: flex;
    flex-direction: column;
}

.checkout-header {
    position: relative;
    top: -3px;
}

.checkout-header-brand {
    display: flex;
    align-items: end;
}

.checkout-header-brand__title {
    display: block;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    margin-left: 15px;
    padding-left: 15px;
    margin-bottom: 1px;
    border-left: 1px solid;
}

/* ---------- CHECKOUT CONTENT ---------- */

.checkout-content__container {
    height: 74px;
    padding: 24px 30px 0 30px;
    background-color: white;
    font-size: 14px;
    line-height: 16.8px;
}

.checkout-content {
    height: 30px;
    width: 100%;
}

.checkout-content-table__row {
    display: flex;
    align-items: center;
    width: 100%;
}

.checkout-content-table__col {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
}

.checkout-content-table__col--main {
    flex: 4 1 0%;
    justify-content: flex-start;
    min-width: 0;
}

.checkout-content-table__col--sub {
    flex: 2 1 0%;
    justify-content: flex-end;
    text-align: right;
}

.checkout-content-table-header__text {
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 400;
}

.checkout-content-table-content__text {
    color: rgba(0, 0, 0, 0.54);
}

/* ---------- CHECKOUT CONTENT - ORDER ---------- */
.checkout-list__section {
    display: flex;
    flex-direction: column;

}

.checkout-list {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    gap: 15px;
}

/* ---------- CHECKOUT CONTENT - ORDER ITEM ---------- */
.checkout-item {
    display: flex;
    align-items: center;
    margin: 0 30px;
    min-height: 55px;
}

.checkout-item__title {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    flex: 1;
    min-width: 0;
}

.checkout-item-variant {
    justify-content: flex-start;
    min-width: 0;
}

.checkout-item-variant__title {
    padding-left: 13px;
    color: rgba(0, 0, 0, 0.54);
}


/* ---------- CHECKOUT CONTENT - ORDER TOTALS ---------- */
.checkout-total__section {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.checkout-total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkout-total__title {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
}

.checkout-total__price {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 100px;
    height: 40px;
    padding: 0 25px 0 10px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

/* ---------- CHECKOUT FOOTER ---------- */
.checkout-footer-grid-per-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.checkout-section__footer {
    margin-bottom: 12px;
    background-color: white;
}

.checkout-footer-with-payment-section {
    margin-top: 20px;
}

.checkout-footer {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 895px 135px 150px;
    column-gap: 10px;
    border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.checkout-footer__title {
    grid-column-end: 3;
    grid-column-start: 2;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
}

.checkout-footer-total-price {
    grid-column-end: 4;
    grid-column-start: 3;
    justify-content: flex-end;
    padding: 0 25px 0 10px;
    height: 50px;
    min-width: 100px;
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 500;
    color: black;
}

.checkout-footer-with-button-order {
    grid-column-end: 4;
    grid-column-start: 1;
    justify-content: flex-end;
    min-height: 95px;
    margin-top: 10px;
    padding: 0 30px;
    border-top: 1px dashed rgba(0, 0, 0, 0.09);
}

.checkout-footer-button-order {
    box-sizing: border-box;
    justify-content: center;
    height: 40px;
    width: 210px;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 500;
    background-color: black;
    color: white;
}